@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
background-color: rgb(10, 25, 47)
}
 ::-webkit-scrollbar-thumb {
  background: #013f3c7f; 
}
i{
  cursor: pointer;
}
i:hover{
  color: #ffffff;
  font-size: 25px;
}

/* Loader Animation */

.s{
  animation: s is infinite;
}

@keyframes s{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
  }
}

.i{
  animation: i is infinite;
}

@keyframes i{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}

.n{
  animation: n is infinite;
}

@keyframes n {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

