@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
background-color: rgb(10, 25, 47)
}
 ::-webkit-scrollbar-thumb {
  background: #013f3c7f; 
}
i{
  cursor: pointer;
}
i:hover{
  color: #ffffff;
  font-size: 25px;
}